<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="divport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <div class="box">
    <div class="top">
      <a href="./say.html">
        <img mode="scaleToFill" src="../images/iwant2.png" data-index="1">
      </a>
    </div>
    <div class="bottom">
      <a href="./hear.html">
        <img mode="scaleToFill" src="../images/tingtashuo2.png" data-index="2">      
      </a>
    </div>
  </div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script src="../lib/jquery.min.js"></script>
<script src="../lib/base.js"></script>
<script src="../js/common.js"></script>
<script src="../js/index.js"></script>

</html>