<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="divport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我想说</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/say.css">
</head>

<body>
  <div class="nav">
    <a href="./index.html">&lt;</a>
  </div>
  <div class="box">
    <div class="top">
      <div class="bg">
        <img id="top_img" src="../images/luyin.png">
        <div class="time hide"></div>
      </div>
    </div>
    <div class="bottom">
      <div class="bottom-top">
        <img id="luyin" src="../images/luyin2.png">
        <img id="tingzhi" class="hide" src="../images/tingzhi.png">
      </div>
      <div class="bottom-bottom hide">
        <img id="shiting" src="../images/shiting2.png">
        <img id="zanting" class="hide" src="../images/zanting.png">
        <img id="chonglu" src="../images/chonglu2.png">
        <img id="fasong" src="../images/send2.png">
      </div>
    </div>
  </div>
  <div class="tips" style="word-break:break-all;"></div>
</body>


<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script src="../lib/jquery.min.js"></script>
<script src="../lib/base.js"></script>
<script src="../lib/template-web.js"></script>
<script src="../js/common.js"></script>
<script src="../js/say.js"></script>

</html>